div{
    width:50%;
    margin:100px auto; 
    border:2px solid rgb(31,77,10);
    border-radius: 25px; 
    
}

form {
    padding: 20px;
    

}
input{
    width:80%;
    padding:10px 15px;
    border:2px solid red;
    outline:none;
}

button {
    padding:10px;
    background-color:rgb(31,77,10);
    color:white;
    font-weight:bold;
    border:2px solid rgb(31,77,10);
    border-radius: 8px;
    margin-left: 25px;
}

i {
    color:rgb(31,77,10); 
    font-size: 20px;
}
